aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
alabaster==0.7.13
asttokens==2.4.1
async-timeout==4.0.3
atari-py==0.2.9
attrs==24.2.0
autocommand==2.2.2
babel==2.16.0
backcall==0.2.0
backports.tarfile==1.2.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cloudpickle==3.1.0
cmake==3.25.0
Cython==3.0.0a10
decorator==5.1.1
docutils==0.20.1
einops==0.8.0
exceptiongroup==1.2.2
executing==2.1.0
fasteners==0.19
filelock @ file:///croot/filelock_1700591183607/work
frozenlist==1.4.1
fsspec @ file:///croot/fsspec_1724855583730/work
glfw==2.7.0
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645455532332/work
googledrivedownloader==0.4
gym==0.12.1
idna==3.10
ImageHash==4.3.1
imageio==2.35.1
imagesize==1.4.1
importlib_metadata==8.0.0
importlib_resources==6.4.0
inflect==7.3.1
iniconfig==2.0.0
ipdb==0.13.13
ipython==8.12.3
isodate==0.7.2
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
jedi==0.19.1
Jinja2 @ file:///croot/jinja2_1716993405101/work
joblib==1.4.2
lit==15.0.7
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
matplotlib-inline==0.1.7
more-itertools==10.3.0
mpmath @ file:///croot/mpmath_1690848262763/work
-e git+https://github.com/openai/mujoco-py.git@a13903b82f1ab316815e63b3575526005b3b2ae1#egg=mujoco_py
multidict==6.1.0
networkx==2.4
numpy==1.21.0
numpydoc==1.7.0
opencv-python==4.10.0.84
packaging==24.1
pandas==2.0.3
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
pillow @ file:///croot/pillow_1721059439630/work
platformdirs==4.2.2
pluggy==1.5.0
prompt_toolkit==3.0.48
propcache==0.2.0
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.22
pygcn==0.1
pyglet==2.0.18
Pygments==2.18.0
pyparsing==3.1.4
pytest==8.3.3
pytest-instafail==0.3.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyWavelets==1.4.1
PyYAML==6.0.2
rdflib==7.1.1
requests==2.32.3
scikit-learn==1.3.2
scipy==1.10.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
snowballstemmer==2.2.0
Sphinx==7.1.2
sphinx-rtd-theme==3.0.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stack-data==0.6.3
sympy @ file:///croot/sympy_1724938189289/work
tabulate==0.9.0
threadpoolctl==3.5.0
tomli==2.0.1
torch==2.0.0+cu118
torch-cluster @ https://data.pyg.org/whl/torch-2.0.0%2Bcu118/torch_cluster-1.6.2%2Bpt20cu118-cp38-cp38-linux_x86_64.whl#sha256=132615eff95962a6d48941c1c75f0d36bbfca2aca4353ce605a8e3850cab9dc5
torch-scatter @ https://data.pyg.org/whl/torch-2.0.0%2Bcu118/torch_scatter-2.1.1%2Bpt20cu118-cp38-cp38-linux_x86_64.whl#sha256=60d5bceee7ada073c8f5d3e290a7bb0a4df303d3c9dcce6072f2d79b371e84c1
torch-sparse @ https://data.pyg.org/whl/torch-2.0.0%2Bcu118/torch_sparse-0.6.17%2Bpt20cu118-cp38-cp38-linux_x86_64.whl#sha256=e0fa2c95bb980cbb43574847172895a73c4214716197982f9415f9f97ae6e131
torch-spline-conv @ https://data.pyg.org/whl/torch-2.0.0%2Bcu118/torch_spline_conv-1.2.2%2Bpt20cu118-cp38-cp38-linux_x86_64.whl#sha256=3d76000387a014b77f4ff28a69c3627457e7d9cbc5d060cbb5c79e7d4cd511f8
torch_geometric==2.0.4
torchaudio==2.0.1+cu118
torchvision==0.15.1+cu118
tqdm==4.66.5
traitlets==5.14.3
triton==2.0.0
typeguard==4.3.0
typing_extensions @ file:///croot/typing_extensions_1715268824938/work
tzdata==2024.2
urllib3==2.2.3
wcwidth==0.2.13
yacs==0.1.8
yarl==1.15.2
zipp==3.19.2
